.roomNav {
  display: flex;
  justify-content: flex-end;
}
.roomNavContainer {
  height: 35px;
  background-color: black;
  display: flex;
  gap: 5px;
  padding: 5px;
  float: right;
  clear: both;
  border-bottom-left-radius: 5px;
  font-size: 16px;
}
.roomNavElement {
  background-color: #244967;
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  padding: 0px 20px;
  border-radius: 5px;
}
.hide{
  display: none;
}